<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle avatar-user" src="~/assets/img/avatar_user.png" />
                    </span>
                    <a href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@ViewBag.UserName</strong>
                                @*</span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>*@
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li id="mn-admin">
                <a href="index.html" id="anc-admin"><i class="fas fa-tools"></i> <span class="nav-label">Administrativo</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="ul-admin">
                    <li id="sb-mn-questionario">@Html.ActionLink("Questionário", "Questionario", "Admin")</li>
                    <li id="sb-mn-classificacao">@Html.ActionLink("Classificação", "Classificacao", "Admin")</li>
                    <li id="sb-mn-perguntas">@Html.ActionLink("Perguntas", "Pergunta", "Admin")</li>
                    <li id="sb-mn-respostas">@Html.ActionLink("Respostas", "Resposta", "Admin")</li>
                    <li id="sb-mn-resultados">@Html.ActionLink("Resultados", "Resultados", "Admin")</li>
                </ul>
            </li>
            <li id="mn-formularios">
            <a href="index.html" id="anc-forms"><i class="fa fa-clipboard"></i> <span class="nav-label">Questionários</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level" id="ul-forms">
                @foreach (var item in ViewBag.MenuQuestionarios)
                {
                    var idSubMenu = "sb-mn-" + item.qst_nome.Replace(" ", "");
                    var link = "/Formulario/Index/" + item.qst_id;

                    if (item.qst_nome == "Cultura Organizacional")
                    {
                        <li id="sb-mn-corg"><a href="/Questionario/Form">Cultura Organizacional</a></li>
                    }
                    else
                    {
                        <li id=@idSubMenu><a href=@link>@item.qst_nome</a></li>
                    }
                }
            </ul>
        </li>
        </ul>
    </div>
</nav>



@*<li id="mn-admin">
    <a href="index.html" id="anc-admin"><i class="fas fa-tools"></i> <span class="nav-label">Administrativo</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level" id="ul-admin">        
        <li id="sb-mn-questionario">@Html.ActionLink("Questionário", "Questionario", "Admin")</li>
        <li id="sb-mn-classificacao">@Html.ActionLink("Classificação", "Classificacao", "Admin")</li>
        <li id="sb-mn-perguntas">@Html.ActionLink("Perguntas", "Pergunta", "Admin")</li>
        <li id="sb-mn-respostas">@Html.ActionLink("Respostas", "Resposta", "Admin")</li>
        <li id="sb-mn-resultados">@Html.ActionLink("Resultados", "Resultados", "Admin")</li>
    </ul>
</li>
<li id="mn-formularios">
    <a href="index.html" id="anc-forms"><i class="fa fa-clipboard"></i> <span class="nav-label">Questionários</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level" id="ul-forms">
        @foreach (var item in ViewBag.MenuQuestionarios)
        {
            var idSubMenu = "sb-mn-" + item.qst_nome.Replace(" ", "");
            var link = "/Formulario/Index/" + item.qst_id;

            if (item.qst_nome == "Cultura Organizacional")
            {
                <li id="sb-mn-corg"><a href="/Questionario/Form">Cultura Organizacional</a></li>
            }
            else
            {
                <li id=@idSubMenu><a href=@link>@item.qst_nome</a></li>
            }
        }
    </ul>
</li>*@