@model QuestionarioCOrg.ViewModels.ResultadosVM

@if (Model.Exibicao == "detalhado")
{
    <table class="table table-striped table-bordered table-hover dataTables-example" style="margin-top: 15px">
        <thead>
            <tr>
                <th style="text-align: center">Nome</th>
                <th style="text-align: center">Departamento</th>
                <th style="text-align: center">Cargo</th>
                <th style="text-align: center">Cultura</th>
                <th style="text-align: center">Pontuação Atual</th>
                <th style="text-align: center">Pontuação Desejada</th>
                <th style="text-align: center">Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RespostasCOrg)
            {
                <tr class="gradeX">
                    <td style="text-align: center">@item.Nome</td>
                    <td style="text-align: center">@item.Departamento</td>
                    <td style="text-align: center">@item.Cargo</td>
                    <td style="text-align: center">@item.Cultura</td>
                    <td style="text-align: center">@item.PontuacaoAtual</td>
                    <td style="text-align: center">@item.PontuacaoDesejado</td>
                    <td style="text-align: center">@item.Data</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-striped table-bordered table-hover dataTables-example" style="margin-top: 15px">
        <thead>
            <tr>
                <th>Departamento</th>
                <th style="text-align: center">Cultura</th>
                <th style="text-align: center">Pontuação Atual</th>
                <th style="text-align: center">Pontuação Desejada</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RespostasCOrg)
            {
            <tr class="gradeX">
                <td>@item.Departamento</td>
                <td style="text-align: center">@item.Cultura</td>
                <td style="text-align: center">@item.PontuacaoAtual</td>
                <td style="text-align: center">@item.PontuacaoDesejado</td>                
            </tr>
            }
        </tbody>
    </table>
}