
@if (ViewBag.Error != "")
{
    <h3 style="color: red">Erro - @ViewBag.Error</h3>
}
else
{
    <div class="ibox float-e-margins" style="margin-top: 15px">
        <div class="ibox-title">
            <h5>Lista dos usuários</h5>
        </div>
        <div class="ibox-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Empresa</th>
                        <th>Departamento</th>                        
                        <th>Permissões</th>
                        <th>Aprovado</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int auxCont = 1;
                    }

                    @foreach (var item in ViewBag.Usuarios)
                    {
                        <tr>
                            <td>@auxCont</td>
                            <td>@item.usu_nome</td>
                            <td>@item.usu_email</td>
                            @if (item.Empresa != null)
                            {
                                <td>@item.Empresa.emp_nome</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            @if (item.Departamento != null)
                            {
                                <td>@item.Departamento.dpt_nome</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @{

                                if (item.NivelAcesso.nvl_nome == "gestor")
                                {
                                    <td>
                                        <span data-tooltip="Comercial" data-tooltip-position="right" class="ic-nvl-acesso ic-nvl-active">G</span>
                                        <span data-tooltip="Comercial" data-tooltip-position="right" class="ic-nvl-acesso" onclick="ativaNivelAcesso('administrativo', @item.usu_id)">A</span>
                                        <span data-tooltip="Comercial" data-tooltip-position="right" class="ic-nvl-acesso" onclick="ativaNivelAcesso('respondente', @item.usu_id)">R</span>
                                    </td>
                                }
                                if (item.NivelAcesso.nvl_nome == "administrativo")
                                {
                                    <td>
                                        <span data-tooltip="Comercial" data-tooltip-position="right" class="ic-nvl-acesso" onclick="ativaNivelAcesso('gestor', @item.usu_id)">G</span>
                                        <span data-tooltip="Comercial" data-tooltip-position="right" class="ic-nvl-acesso ic-nvl-active">A</span>
                                        <span data-tooltip="Comercial" data-tooltip-position="right" class="ic-nvl-acesso" onclick="ativaNivelAcesso('respondente', @item.usu_id)">R</span>
                                    </td>
                                }
                                if (item.NivelAcesso.nvl_nome == "respondente")
                                {
                                    <td>
                                        <span data-tooltip="Comercial" data-tooltip-position="right" class="ic-nvl-acesso" onclick="ativaNivelAcesso('gestor', @item.usu_id)">G</span>
                                        <span data-tooltip="Comercial" data-tooltip-position="right" class="ic-nvl-acesso" onclick="ativaNivelAcesso('administrativo', @item.usu_id)">A</span>
                                        <span data-tooltip="Comercial" data-tooltip-position="right" class="ic-nvl-acesso ic-nvl-active">R</span>
                                    </td>
                                }

                            }

                            <td>
                                <span onclick="SalvarAprovacaoUsuario(@item.usu_id)">
                                    @{
                                        string strNameApr = "chk-apr-usuario";
                                        string strMetodoSalvar = string.Format("SalvarAprovacaoUsuario({0})", item.usu_id);
                                    }
                                    @if (item.usu_aprovado == null)
                                    {
                                        { Html.RenderAction("_Toggle", "Common", new { TName = strNameApr, TNumber = item.usu_id }); }
                                    }
                                    else
                                    {
                                        { Html.RenderAction("_Toggle", "Common", new { TName = strNameApr, TNumber = item.usu_id, TChecked = true }); }
                                    }
                                </span>
                            </td>
                        </tr>
                        auxCont++;
                    }

                </tbody>
            </table>
        </div>
    </div>

}