@model QuestionarioCOrg.ViewModels.ResultadosVM

@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
@{Html.RenderAction("_PageNavigation", "Admin", new { Nav = "Administrativo;Resultados" });}
<div class="wrapper wrapper-content animated fadeInRight" id="resultados-vue-page">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ title }}</h5>
                </div>

                @*PARAMETROS*@
            <div class="ibox-content">
                @using (Html.BeginForm("Resultados", "Admin", FormMethod.Post, new { @class = "form-horizontal", @Style = "margin-left: 3%" }))
                {
                    <div class="form-group" style="margin-left: -10%">
                        <label class="col-lg-2 control-label">Empresa</label>
                        <div class="col-md-6">
                            @Html.DropDownList("IdEmpresa", null, "Selecione a empresa", htmlAttributes: new
                            {
                                @class = "form-control m-b qst-input",
                                @Id = "empresa-filtro-resultados"
                            })
                            @Html.ValidationMessageFor(model => model.IdEmpresa, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                        @id = "sp-empresa-resultados-error"
                            })
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: -10%">
                        <label class="col-lg-2 control-label">Questionário</label>
                        <div class="col-md-6">
                            @Html.DropDownList("IdQuestionario", null, "Selecione o questionário", htmlAttributes: new
                            {
                                @class = "form-control m-b qst-input",
                                @Id = "questionario-filtro-resultados"
                            })
                            @Html.ValidationMessageFor(model => model.IdQuestionario, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                        @id = "sp-questionario-resultados-error"
                            })
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: -10%" id="cmb-exib-dados">
                        <label class="col-lg-2 control-label">Exibição dos dados</label>
                        <div class="col-md-3">

                            @Html.DropDownList("Exibicao", null, htmlAttributes: new
                            {
                                @class = "form-control m-b qst-input"
                            })
                        </div>
                    </div>
                    @Html.Hidden("hdd-id-respondente-selected", (int)ViewBag.IdUsResp)
                    <div id="partial-cmb-respondente-resultados">
                        <div class="form-group" style="margin-left: -10%">
                            <label class="col-lg-2 control-label">Respondente</label>
                            <div class="col-md-3">
                                @Html.DropDownList("IdUsuarioRespondente", null, "Selecione o respondente", htmlAttributes: new
                                {
                                    @class = "form-control m-b qst-input",
                                    @Id = "respondente-filtro-resultados"
                                })
                                @Html.ValidationMessageFor(model => model.IdUsuarioRespondente, "", new
                                {
                                    @class = "help-block m-b-none error-mgs",
                                    @id = "sp-respondente-resultados-error"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: -10%">
                        <label class="col-lg-2 control-label">Data</label>
                        <div class="col-md-3">
                            @Html.DropDownList("MesPreenchimento", null, "Selecione o mês", htmlAttributes: new
                            {
                                @class = "form-control m-b qst-input",
                                @Id = "mes-filtro-resultados"
                            })
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("AnoPreenchimento", null, "Selecione o ano", htmlAttributes: new
                            {
                                @class = "form-control m-b qst-input",
                                @Id = "ano-filtro-resultados"
                            })
                        </div>
                    </div>

                    <div class="hr-line-dashed" style="margin-top: 35px"></div>
                    <div class="footer-btns">
                        <button class="btn btn-primary" id="btn-consultar-resultados">Consultar</button>
                        <button class="btn btn-default btn-limpar-form" style="margin-left: 10px">Limpar</button>
                    </div>
                }

                @if (Model != null)
                {
                    if (Model.Respostas != null)
                    {
                        if (Model.Questionario.Contains("Cultura Organizacional"))
                        {
                            @Html.Partial("_GridCOrgResultados", Model);
                        }
                        else
                        {
                            @Html.Partial("_GridResultadosBasico", Model);

                        }
                    }
                }
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Page-Level Scripts -->
<script>


</script>
<style>

    body.DTTT_Print {
        background: #fff;
    }

    .DTTT_Print #page-wrapper {
        margin: 0;
        background: #fff;
    }

    button.DTTT_button, div.DTTT_button, a.DTTT_button {
        border: 1px solid #e7eaec;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
    }

        button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
            border: 1px solid #d2d2d2;
            background: #fff;
            color: #676a6c;
            box-shadow: none;
            padding: 6px 8px;
        }

    .dataTables_filter label {
        margin-right: 5px;
    }
</style>
<script src="~/Scripts/questionario.vue.js"></script>