@model QuestionarioCOrg.ViewModels.UsuarioVM

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    { Html.RenderAction("_PageNavigation", "Admin", new { Nav = "Administrativo;Gestão;Usuário" }); }

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Aprovação de Usuário</h5>
                    </div>

                    <div class="ibox-content">
                        @using (Html.BeginForm())
                        {
                            @Html.Hidden("hdd-usuario-form-state", (bool)ViewBag.Success)
                            @Html.Hidden("hdd-usuario-error", (string)ViewBag.Error)

                            <div class="form-group col-md-6" id="fg-empresa-usuario" style="padding-left: 0">
                                <div>
                                    <label>Nome</label>
                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control qst-input", @id = "nome-apr-usuario",
                                    @placeHolder = "Informe o nome do usuário" } })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-nome-usuario-error" })
                                </div>
                            </div>

                            <div class="form-group col-md-6" id="fg-depto-usuario" style="padding-right: 0">
                                <div>
                                    <label>Status</label>
                                    @Html.DropDownList("Situacao", null, "Selecione", htmlAttributes: new {
                                   @class = "form-control m-b qst-input", @Id = "situacao-apr-usuario" })
                                </div>
                            </div>
                            <br />
                            <div class="hr-line-dashed" style="margin-top: 70px;"></div>
                            <div class="footer-btns">
                                <button class="btn btn-primary" id="btn-consultar-apr-usuario">Consultar</button>
                                <button class="btn btn-default btn-limpar-form" style="margin-left: 10px">Limpar</button>
                            </div>
                        }


                        <div id="lista-apr-usuario"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}