@model QuestionarioCOrg.ViewModels.QuestionarioVM

@{
    ViewBag.Title = "Administrativo";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@{Html.RenderAction("_PageNavigation", "Admin", new { Nav = "Administrativo;Cadastro;Questionário" });}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cadastro de Questionário</h5>
                </div>

                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group" id="fg-nome-questionario">
                            @Html.Hidden("hdd-questionario-form-state", (bool)ViewBag.Success)
                            @Html.Hidden("hdd-questionario-error", (string)ViewBag.Error)
                            @Html.Hidden("hdd-id-registro-selected", 0)
                            <div>
                                <label>Nome</label>
                                @Html.EditorFor(model => model.Nome, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control qst-input",
                                           @id = "nome-questionario",
                                           @placeHolder = "Insira um nome para o novo questionário"
                                       }
                                   })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-nome-questionario-error" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Ativar</label>
                            @Html.CheckBoxFor(m => m.Publicado, new { @class = "js-switch_3 my-switchery", @Id = "chk-ativo-questionario" })
                        </div>

                        <br />
                        <div class="hr-line-dashed" style="margin-top: 15px"></div>
                        <div class="footer-btns">
                            <button class="btn btn-primary" id="btn-questionario-salvar">Salvar</button>
                            <button class="btn btn-default btn-limpar-form" style="margin-left: 10px">Limpar</button>
                        </div>
                    }
                    <div class="ibox float-e-margins" style="margin-top: 15px">
                        <div class="ibox-title">
                            <h5>Lista Questionários</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Descrição</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int auxCont = 1;
                                    }

                                    @foreach (var item in ViewBag.MenuQuestionarios)
                                    {
                                        <tr>
                                            <td>@auxCont</td>
                                            <td>@item.qst_nome</td>
                                            <td>
                                                <a href="@Url.Action("EditarQuestionario", "Admin", new { Id = item.qst_id })"><i class="fa fa-pen text-navy"></i></a>
                                                <a data-toggle="modal" href="#myModal2" onclick="javascript:document.getElementById('hdd-id-registro-selected').value = @item.qst_id;" id=@item.qst_id><i class="fa fa-times text-danger" style="padding-left: 5px"></i></a>
                                            </td>
                                        </tr>
                                        auxCont++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*MODAL*@
                    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated flipInY">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Confirmação</h4>
                                    <small class="font-bold">Exclusão de registro.</small>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <strong>Atenção.</strong> Deseja realmente excluir o registro?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Não</button>
                                    <button type="button" onclick="excluirRegistro('Questionario');" class="btn btn-danger" data-dismiss="modal">Excluir</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>