@model QuestionarioCOrg.ViewModels.RespostaVM

@{
    ViewBag.Title = "Respostas";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@{Html.RenderAction("_PageNavigation", "Admin", new { Nav = "Administrativo;Cadastro;Respostas" });}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Cadastro de Respostas</h5>
                    </div>

                    <div class="ibox-content">
                        @using (Html.BeginForm())
                        {
                            @Html.Hidden("hdd-resposta-form-state", (bool)ViewBag.Success)
                            @Html.Hidden("hdd-resposta-error", (string)ViewBag.Error)
                            @Html.Hidden("hdd-id-registro-selected", 0)
                            <div class="form-group" id="fg-questionario-resposta">
                                <div>
                                    <label>Questionário</label>
                                    @Html.DropDownList("IdQuestionario", null, "Selecione o questionário", htmlAttributes: new {
                                                @class = "form-control m-b", @Id = "questionario-resposta" })
                                    @Html.ValidationMessageFor(model => model.IdQuestionario, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-questionario-resposta-error" })
                                </div>
                            </div>
                            <div class="form-group" id="fg-descricao-resposta">
                                <div>
                                    <label>Descrição</label>
                                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control qst-input", @id = "txt-descricao-resposta",
                                    @placeHolder = "Descreva a resposta" } })
                                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-descricao-resposta-error" })
                                </div>
                            </div>
                            <div class="form-group" id="fg-valor-resposta">
                                <div>
                                    <label>Valor</label>
                                    @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control qst-input", @id = "txt-item-resposta",
                                    @placeHolder = "Informe os valores das responstas, separando por ponto-e-vírgula. Ex: sim;não ou 1;2;3;4 (opcional)" } })
                                    @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-item-resposta-error" })
                                </div>
                            </div>
                            <div class="hr-line-dashed" style="margin-top: 80px"></div>
                            <div class="footer-btns">
                                <button class="btn btn-primary" id="btn-resultados">Salvar</button>
                                <button class="btn btn-default btn-limpar-form" style="margin-left: 10px">Limpar</button>
                            </div>
                        }
                        <div id="lista-resposta"></div>
                        @*MODAL*@
                        <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated flipInY">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Confirmação</h4>
                                        <small class="font-bold">Exclusão de registro.</small>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            <strong>Atenção.</strong> Deseja realmente excluir o registro?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Não</button>
                                        <button type="button" onclick="excluirRegistro('Resposta');" class="btn btn-danger" data-dismiss="modal">Excluir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}