@model QuestionarioCOrg.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<body>
    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("hdd-login-form-state", (string)ViewBag.Success)
        @Html.Hidden("hdd-login-error", (string)ViewBag.Error)
    <div class="text-center mb-4">
        <img class="mb-4" src="~/assets/img/zender_logo.png" alt="">        
        <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
        @*<p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>*@
    </div>

        <div class="form-label-group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-login",
            @id = "inputEmail",
            @placeHolder = "Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-email-signin-error" })
            <label for="inputEmail">Endereço de Email</label>
        </div>

        <div class="form-label-group">
            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { type = "password",
            @class = "form-control input-login",
            @id = "inputPassword",
            @placeHolder = "Senha" } })
            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-senha-signup-error" })
            <span>@ViewBag.Error</span>
            <label for="inputPassword">Senha</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                Não tem uma conta ainda? <a href="@Url.Action("Registro", "Login")">Cadastre-se</a>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; @DateTime.Now.Year</p>
    }

</body>