@model QuestionarioCOrg.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

    <div class="login-container">
        <div class="logo-opportuna">
            @*<img src="~/assets/img/logomarca_opportuna_tecnologia.png" />*@
        </div>
        <img src="~/assets/img/icon-opportuna.png" style="width: 40%" />
        <h2>Acesso Restrito</h2>
        <p>            
        </p>
        <!--<p>Informe suas credenciais.</p>-->

        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "m-t" }))
        {
            @Html.AntiForgeryToken()

            @Html.Hidden("hdd-login-form-state", (bool?)ViewBag.Success)
            @Html.Hidden("hdd-login-error", (string)ViewBag.Error)
            @Html.HiddenFor(model => model.RedirectQ, (int?)ViewBag.RediQ)

            <div class="form-group">
                @Html.EditorFor(model => model.Email, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @id = "email-usuario-signin",
                        @placeHolder = "Email"
                    }
                })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-email-signin-error" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Senha, new
                {
                    htmlAttributes = new
                    {
                        type = "password",
                        @class = "form-control",
                        @id = "senha-usuario-signup",
                        @placeHolder = "Senha"
                    }
                })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-senha-signup-error" })
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            <a href="@Url.Action("RedefinicaoSenha", "Login")">
                <small style="text-align:left;font-size: 14px">Esqueceu sua senha?</small>
            </a>
            <p class="text-muted text-center">
                <!--<small>Ainda não tem uma conta?</small>-->
            </p>
            <a class="btn btn-sm btn-white btn-block" href=@Url.Action("Index", "Registro")>Criar uma conta</a>
        }

    </div>