@model QuestionarioCOrg.ViewModels.ResultadosVM

    <table class="table table-striped table-bordered table-hover dataTables-example" style="margin-top: 15px">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Empresa</th>
                <th>Departamento</th>
                <th>Cargo</th>
                <th>Pontuação</th>
                <th>Resultado</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Respostas)
            {
                var arrValorRsp = item.rpu_valor_resposta.Split('#');
                string pontuacao = string.Empty;
                string resultado = string.Empty;
                if (arrValorRsp.Length > 0)
                {
                    pontuacao = item.rpu_valor_resposta.Split('#')[0];
                }
                if (arrValorRsp.Length > 1)
                {
                    resultado = item.rpu_valor_resposta.Split('#')[1];
                }

                <tr class="gradeX">
                    <td>@Html.DisplayFor(modelItem => item.Usuario.usu_nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Empresa.emp_nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Departamento.dpt_nome)</td>
                    <td class="center">@Html.DisplayFor(modelItem => item.Usuario.usu_cargo)</td>
                    <td class="center">@pontuacao</td>
                    <td class="center">@resultado</td>
                    @{
                        string dtResp = item.rpu_datacadastro.ToShortDateString();
                    }
                    <td class="center">@dtResp</td>
                </tr>
            }
        </tbody>
    </table>