@model QuestionarioCOrg.ViewModels.EmpresaVM

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    { Html.RenderAction("_PageNavigation", "Admin", new { Nav = "Administrativo;Cadastro;Empresa" }); }

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Cadastro de Empresa</h5>
                    </div>

                    <div class="ibox-content">
                        @using (Html.BeginForm())
                        {
                            @Html.Hidden("hdd-empresa-form-state", (bool)ViewBag.Success)
                            @Html.Hidden("hdd-empresa-error", (string)ViewBag.Error)
                            @Html.Hidden("hdd-id-registro-selected", 0)
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group col-md-6" style="padding-left: 0">
                                <div>
                                    <label>CNPJ</label>
                                    @Html.EditorFor(model => model.CNPJ, new
                                    {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control qst-input",
                                                @id = "CNPJ",
                                                maxlength = "18",
                                                onkeypress = "MascaraCNPJ(this)",
                                                @placeHolder = "Informe o cnpj da empresa"
                                            }
                                    })                                    
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div>
                                    <label>Empresa</label>
                                    @Html.EditorFor(model => model.Nome, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control qst-input",
                                            @id = "nome-empresa",
                                            @placeHolder = "Informe o nome da empresa"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-nome-empresa-error" })
                                </div>
                            </div>
                            <div class="form-group col-md-6" style="padding-left: 0">
                                <div>
                                    <label>Cidade</label>
                                    @Html.EditorFor(model => model.Cidade, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control qst-input",
                                            @id = "cidade-empresa",
                                            @placeHolder = "Informe a cidade da empresa (opcional)"
                                        }
                                    })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div>
                                    <label>Estado</label>
                                    @if (Model != null)
                                    {
                                        { Html.RenderAction("_ComboEstado", "Admin", new { Estado = Model.Estado }); }
                                    }
                                    else
                                    {
                                        { Html.RenderAction("_ComboEstado", "Admin"); }
                                    }

                                </div>
                            </div>
                            <div class="form-group col-md-6" style="padding-left: 0">
                                <div>
                                    <label>Ramo</label>
                                    @if (Model != null)
                                    {                                        
                                        { Html.RenderAction("_ComboRamo", "Admin", new { Ramo = Model.Ramo }); }
                                    }
                                    else
                                    {
                                        { Html.RenderAction("_ComboRamo", "Admin"); }
                                    }


                                </div>
                            </div>
                            <br />
                            <div class="hr-line-dashed" style="margin-top: 200px;"></div>
                            <div class="footer-btns">
                                <button class="btn btn-primary" id="btn-consultar-apr-usuario">Salvar</button>
                                <button class="btn btn-default btn-limpar-form" style="margin-left: 10px">Limpar</button>
                            </div>
                        }

                        @{ Html.RenderAction("_ListarEmpresa", "Admin"); }


                    </div>

                    @*MODAL*@
                    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated flipInY">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Confirmação</h4>
                                    <small class="font-bold">Exclusão de registro.</small>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <strong>Atenção.</strong> Deseja realmente excluir o registro?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Não</button>
                                    <button type="button" onclick="excluirRegistro('Empresa');" class="btn btn-danger" data-dismiss="modal">Excluir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}