@model QuestionarioCOrg.ViewModels.UsuarioVM

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Cadastro de Usuário</h5>
                            </div>

                            <div class="ibox-content">
                                @using (Html.BeginForm())
                                {
                                    @Html.Hidden("hdd-usuario-form-state", (bool)ViewBag.Success)
                                    @Html.Hidden("hdd-usuario-error", (string)ViewBag.Error)
                                    <div class="form-group" id="fg-nome-classificacao">
                                        <div>
                                            <label>Nome</label>
                                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control qst-input", @id = "txt-nome-usuario",
                                            @placeHolder = "Informe o nome do usuário" } })
                                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-nome-usuario-error" })
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6" id="fg-empresa-usuario" style="padding-left: 0">
                                        <div>
                                            <label>Empresa</label>
                                            @Html.DropDownList("IdEmpresa", null, "Selecione", htmlAttributes: new {
                                                        @class = "form-control m-b", @id = "empresa-usuario" })
                                            @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-empresa-usuario-error" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6" id="fg-depto-usuario" style="padding-right: 0">
                                        <div>
                                            <label>Departamento</label>
                                            @Html.DropDownList("IdDepartamento", null, "Selecione", htmlAttributes: new {
                                                        @class = "form-control m-b", @id = "empresa-usuario" })
                                            @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-depto-usuario-error" })
                                        </div>
                                    </div>
                                    <div class="form-group" id="fg-nome-classificacao">
                                        <div>
                                            <label>Cargo</label>
                                            @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control qst-input", @id = "txt-cargo-usuario",
                                           @placeHolder = "Informe o cargo do usuário" } })
                                            @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "help-block m-b-none error-mgs", @id = "sp-cargo-usuario-error" })
                                        </div>
                                    </div>
                                }
                                <br />
                                <div class="hr-line-dashed" style="margin-top: 70px;"></div>
                                <div class="footer-btns">
                                    <button class="btn btn-primary" id="btn-resultados">Salvar</button>
                                    <button class="btn btn-default btn-limpar-form" style="margin-left: 10px">Limpar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
}