@model QuestionarioCOrg.ViewModels.LeadLGPDVM

@{
    Layout = "~/Views/Shared/_Layout_LGPD_Leads.cshtml";
}
<link rel="stylesheet" href="~/assets/lgpd_leads/landing/css/main.css">
<div class="ad-landing-fixed-wrapper top-control">
    <div class="ad-landing-wrapper">
        <div class="rounded h-100 p-5" style="margin-top: 15%">
            @if (ViewBag.Success == false)
            {
                <h2 class="font-weight-bold text-4" style="color: red">@ViewBag.Msg</h2>
            }
            @if (ViewBag.Success == true)
            {
                <h2 class="font-weight-bold text-4">Seus dados foram registrados!</h2>
                <p style="font-size: 1.0em;">
                    Um e-mail foi enviado para <b>@ViewBag.Email</b>.
                    Dentro de instantes você receberá um e-mail com acesso ao formulário de avaliação LGPD.
                </p>
            }
            else
            {
                <h3 class="font-weight-bold text-4">Start with Free Leads</h3>
                <p class="top-sub-title text-muted mb-4">30-day Free Trail, Cancel Anytime</p>

                using (Html.BeginForm())
                {
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>Nome</label>
                            @Html.EditorFor(model => model.Nome, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control bg-light-5 rounded border-0 text-1",
                                    @MaxLength = "100"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.Nome, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                @id = "sp-q-lgpd-nome-error"
                            })

                        </div>
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>Email</label>
                            @Html.EditorFor(model => model.Email, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control bg-light-5 rounded border-0 text-1",
                                    @MaxLength = "100"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.Email, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                @id = "sp-q-lgpd-email-error"
                            })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>Telefone</label>
                            @Html.EditorFor(model => model.Telefone, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control bg-light-5 rounded border-0 text-1",
                                    @onkeypress = "MascaraTelefone_E_Celular(this)",
                                    @MaxLength = "15"
                                }
                            })

                            @Html.ValidationMessageFor(model => model.Telefone, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                @id = "sp-q-lgpd-email-error"
                            })
                        </div>
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>Nome da Empresa</label>
                            @Html.EditorFor(model => model.Empresa, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control bg-light-5 rounded border-0 text-1",
                                    @MaxLength = "100"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.Empresa, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                @id = "sp-q-lgpd-empresa-error"
                            })

                        </div>
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>CNPJ</label>
                            @Html.EditorFor(model => model.CNPJ, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control bg-light-5 rounded border-0 text-1",
                                    @id = "CNPJ",
                                    maxlength = "18",
                                    onkeypress = "MascaraCNPJ(this)"                                    
                                }
                            })                            
                            @Html.ValidationMessageFor(model => model.CNPJ, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                @id = "sp-q-lgpd-empresa-error"
                            })

                        </div>
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>Cidade da Empresa</label>
                            @Html.EditorFor(model => model.CidadeEmpresa, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control bg-light-5 rounded border-0 text-1",
                                    @MaxLength = "100"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.CidadeEmpresa, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                @id = "sp-q-lgpd-empresa-error"
                            })

                        </div>
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>Estado da Empresa</label>
                            @{ Html.RenderAction("_ComboEstado", "LGPD"); }                            
                            @Html.ValidationMessageFor(model => model.EstadoEmpresa, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                @id = "sp-q-lgpd-empresa-error"
                            })

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>Cargo/Função</label>
                            @Html.EditorFor(model => model.Cargo, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control bg-light-5 rounded border-0 text-1",
                                    @MaxLength = "100"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.Cargo, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                @id = "sp-q-lgpd-cargo-error"
                            })
                        </div>
                        @*<div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>Número de Funcionários</label>

                            @Html.EditorFor(model => model.NrFuncionarios, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control bg-light-5 rounded border-0 text-1",
                                    @onkeypress = "somenteNumeros(this)",
                                    @MaxLength = "6"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.NrFuncionarios, "", new
                            {
                                @class = "help-block m-b-none error-mgs",
                                @id = "sp-q-lgpd-cargo-error"
                            })
                        </div>*@
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <label>Ramo</label>
                            <select class="form-control bg-light-5 rounded border-0 text-1" name="ramo">
                                <option value="Alimentação">Alimentação</option>
                                <option value="Educacao">Educação</option>
                                <option value="Financeiro">Financeiro</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Seguros">Seguros</option>
                                <option value="Saude">Saúde</option>
                                <option value="Tecnologia">Tecnologia da Informação</option>
                                <option value="Turismo">Turismo</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <input type="checkbox" id="chk-consentimento" style="margin-top: -27px;padding-bottom: 31px;position: absolute;left: 6px;top: 30px;" />
                            <label style="font-size: 0.9em;width: 90%;text-align: justify;margin-left: 23px;">
                                Estou ciente de que meus dados estão sendo registrados, porém não serão utilizados para qualquer outra finalidade.
                            </label>
                        </div>
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12" id="msg-consentimento" style="display: none;margin-top: -25px;">
                            <label style="font-size: 0.9em;width: 90%;text-align: justify;margin-left: 23px;color: red;">
                                Consentimento obrigatório.
                            </label>
                        </div>
                        <div class="form-group col-lg-12 col-md-6 col-sm-12 col-xs-12" id="msg-enviando" style="display: none;margin-bottom: -14px;margin-left: -3px;font-weight: bold;">
                            <label style="font-size: 0.9em;width: 90%;text-align: justify;margin-left: 23px;">
                                Enviando... aguarde
                            </label>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col text-right">
                            <button class="btn btn-error-message btn-danger btn-block  btn-v-3 btn-h-3 font-weight-bold"
                                    style="display:none"></button>
                            <button type="submit" class="btn btn-primary btn-block btn-rounded btn-v-3 btn-h-3 font-weight-bold" id="lgpd-submit">
                                Enviar
                            </button>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="mb-0">
                                By signing up, you agree to our <a href="http://www.arounddeal.com/terms/" target="_blank"
                                                                   class="text-primary">Terms of Use</a>.
                            </p>
                            <p>
                                Already have an account? <a href="https://leads.arounddeal.com/login"
                                                            target="_blank" class="text-primary">Sign in</a>
                            </p>
                        </div>
                    </div>
                }
            }


        </div>
        <div class="loading-overlay">
            <div class="bounce-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>