@model QuestionarioCOrg.ViewModels.QuestionarioVM

@{
    ViewBag.Title = "Formulário";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@if (Model.Nome == "Não Informado")
{
    { Html.RenderAction("_AcessoNegado", "Common", new { Titulo = "Nenhum formulário cadastrado para sua empresa", Msg = "formulário indisponível" }); }
}
else
{
    string strNav = "Questionário;" + Model.Nome;
    { Html.RenderAction("_PageNavigation", "Admin", new { Nav = strNav }); }

    <div id="dv-msg-success-form" style="display: none">
        @{ Html.RenderAction("_SuccessMessage", "Common", new { Msg = "Seus dados foram enviados com sucesso!" }); }
    </div>

    <div id="dv-msg-error-form" style="display: none">
        @{ Html.RenderAction("_AcessoNegado", "Common", new { Msg = "Este formulário já foi respondido pelo usuário logado!" }); }
    </div>

    if ((bool?)ViewBag.Acesso == false)
    {
        { Html.RenderAction("_AcessoNegado", "Common", new { Msg = "Este formulário já foi respondido pelo usuário logado!" }); }
    }
    else
    {
        <div class="wrapper wrapper-content animated fadeInRight" id="dv-forms">
            <div class="row">
                <div>
                    <div class="ibox float-e-margins">
                        @Html.Hidden("hdd-formulario-form-state", (bool?)ViewBag.Success)
                        @Html.Hidden("hdd-formulario-form-error", (string)ViewBag.Error)
                        @Html.HiddenFor(model => model.Id, htmlAttributes: new { @id = "hdd-id-questionario" })
                        @Html.HiddenFor(model => model.IdUsuario, htmlAttributes: new { @id = "hdd-id-usuario" })

                        <div class="ibox-content">
                            @*SE QUESTIONÁRIO TEM CLASSIFICAÇÃO DE PERGUNTAS*@
                            @{
                                int auxCountClassificacao = 1;
                                int auxCountPerguntas = 1;
                            }
                            @foreach (var item in Model.Classificacoes.Where(x => x.cls_ativo))
                            {
                                auxCountPerguntas = 1;
                                <table class="table tbl-questionario">
                                    @if (!item.cls_nome.Equals("sem classificação"))
                                    {
                                        <thead>
                                            <tr>
                                                <th class="tbl-questionario-titulo">
                                                    @auxCountClassificacao - @item.cls_nome
                                                </th>
                                            </tr>
                                        </thead>
                                    }

                                    @*TBODY*@
                                <tbody>
                                    @foreach (var subitem in Model.Perguntas.Where(x => x.prg_ativo))
                                    {
                                        if (!item.cls_nome.Equals("sem classificação"))
                                        {
                                            if (subitem.prg_cls_id == item.cls_id)
                                            {
                                                <tr>
                                                    <td>
                                                        <p>@auxCountClassificacao.@auxCountPerguntas - @subitem.prg_descricao</p>
                                                    </td>
                                                    @*VALORES RESPOSTAS*@
                                                    <td style="width: 200px">
                                                        <div class="form-group">
                                                            <div>
                                                                <select class="form-control m-b cls-respostas">
                                                                    <option value="">Selecione</option>
                                                                    @foreach (var rsp in Model.Respostas.Where(x => x.rsp_ativo))
                                                                    {
                                                                        string strValorResposta = string.Empty;
                                                                        if (rsp.Valor.Count > 0)
                                                                        {
                                                                            strValorResposta = rsp.Valor.FirstOrDefault().vlr_valor;
                                                                        }
                                                                        strValorResposta = string.Format("{0}#{1}#{2}", subitem.prg_id, rsp.rsp_id, strValorResposta);

                                                                        <option value="@strValorResposta">@rsp.rsp_descricao</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                auxCountPerguntas++;
                                            }
                                        }
                                        //CASO O FORMULÁRIO NÃO TENHA CLASSIFICAÇÃO, LISTAR AS PERGUNTAS AQUI
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <p>@auxCountPerguntas - @subitem.prg_descricao</p>
                                                </td>
                                                @*VALORES RESPOSTAS*@
                                                <td style="width: 200px">
                                                    <div class="form-group">
                                                        <div>
                                                            <select class="form-control m-b cls-respostas">
                                                                <option value="">Selecione</option>
                                                                @foreach (var rsp in Model.Respostas.Where(x => x.rsp_ativo))
                                                                {
                                                                    string strValorResposta = string.Empty;
                                                                    if (rsp.Valor.Count > 0)
                                                                    {
                                                                        strValorResposta = rsp.Valor.FirstOrDefault().vlr_valor;
                                                                    }
                                                                    strValorResposta = string.Format("{0}#{1}#{2}", subitem.prg_id, rsp.rsp_id, strValorResposta);

                                                                    <option value="@strValorResposta">@rsp.rsp_descricao</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            auxCountPerguntas++;
                                        }
                                    }

                                </tbody>
                                </table>
                                <div class="hr-line-dashed" style="margin-top: 20px"></div>
                                auxCountClassificacao++;
                            }

                            <div class="footer-btns">
                                <button class="btn btn-primary" id="btn-salvar-questionario">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

